
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  margin:0;
  padding:0;
}
svg {margin:0:padding:0}


select {
   background: transparent;
   margin-top:10px;
   width: 180px;
   padding: 5px;
   line-height: 1;
   border: 1px solid #999;
   height: 34px;
   border-radius: 0;
   box-shadow: 0;
   -moz-appearance:none; 
}
   
#footer {
	position:absolute;
	bottom:0px;
	width:100%;
	font-size:0.7em;
	text-align: center;
	color:#666;
	padding:3px 0px;
}

#header {
	position:absolute;
	top:0px;
	text-align: left;
	
}
#header h1 {margin:25px 20px 0px 20px ;padding:0px 0px; border-bottom:1px solid #666;font-size:1.6em;text-transform:uppercase;}
#header p {margin:5px 20px;padding:0px 0px;line-height:1.5em}
#header .caption {color:#666; font-size:0.9em;background:rgba(255,255,255,0.4);line-height:1.5em}
#header .caption a {font-size: 0.9em}
#header div {margin:5px 0px;padding:0px 20px}

.legend {font-size:0.8em}

.land {
  fill: #eee;
}

.border {
  fill: none;
  stroke-width: 1px;
}

.interior {
  stroke: #ddd;
}

.exterior {
  stroke: #bbbbbb;
}

.arc {
	stroke: #333;
	opacity: 0.9;
}

.node {
	opacity: 1;
}

.hidden {
	opacity: .0;
}

.linkhidden {
	opacity: .0;
}
